{% extends "topics/sandbox/news/news_base.html" %}
{% load static %}
{% block title %}新闻来源与类别{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row mt-4 d-flex justify-content-center">
            <!-- 左侧：新闻来源 -->
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-header bg-info text-white">
                        <h3>新闻来源</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for source in sources %}
                                <li class="list-group-item">
                                    <a href="{% url 'sandbox_news_source_detail' source.slug %}"
                                       class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                                        <h5><i class="bi bi-browser-firefox"></i> {{ source.name }}</h5></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 右侧：新闻类别 -->
            <div class="col-md-4">
                <div class="card shadow-sm mb-4">
                    <div class="card-header bg-warning text-white">
                        <h3>新闻类别</h3>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for category in categories %}
                                <li class="list-group-item">
                                    <a href="{% url 'sandbox_news_category_detail' category.slug %}"
                                       class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover d-flex align-items-center">
                                        <h5>
                                            <i class="bi bi-robot"></i> {{ category.name }}
                                        </h5></a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
