{% extends "topics/base.html" %}

{% block question %}

{% endblock %}


{% block content %}
    <div class="card text-center">
        <div class="card-header h5">
            题目列表
        </div>
        <div class="card-body">
                <div class="table-container container flex-container justify-content-center">
                    <table class="table table-primary table-striped table-hover w-auto">
                        <thead>
                        <tr>
                            <th class="fixed-column" scope="col">#</th>
                            <th class="fixed-column" scope="col" data-bs-toggle="tooltip" data-bs-html="true"
                                title="名称">
                                名称
                            </th>
                            <th class="fixed-column" scope="col">链接</th>
                        </tr>
                        </thead>
                        <tbody id="data-body-fixed">
                        </tbody>
                    </table>
                    <div class="table-responsive">
                        <table class="table table-primary table-striped table-hover scrollable-table">
                            <thead>
                            <tr>
                                <th scope="col">难度</th>
                                <th scope="col">状态</th>
                                <th scope="col">题解</th>
                                <th scope="col">类别</th>
                            </tr>
                            </thead>
                            <tbody id="data-body-scroll">
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center" id="pagination">
                    </ul>
                </nav>
{#            </div>#}


        </div>


    </div>


{% endblock %}

{% block script %}
    <script>
        // 每页显示的记录数
        const itemsPerPage = 10;
        let currentPage = 1;
        let data = [];

        // 函数：生成带有默认提示框的单元格
        function createTooltipCell(text, type = 'text', link = '', tooltipTitle = text) {
            var cell;
            var element;

            if (type === 'link') {
                element = $('<a>').attr('href', link).text(text);
            } else {
                element = $('<span>').text(text);
            }

            element.attr({
                'data-bs-toggle': 'tooltip',
                'data-bs-html': 'true',
                'title': tooltipTitle
            });

            cell = $('<td>').append(element);
            return cell;
        }

        // 函数：生成包含文本图标和视频图标的单元格
        function createSolutionCell(docLink, videoLink) {
            var cell = $('<td>');
            {# style="cursor:pointer; margin-right: 10px;"#}
            var docIcon = $('<i class="bi bi-markdown" style="cursor:pointer; margin:0 5px;font-size: 1.2rem;"></i>');
            var videoIcon = $('<i class="bi bi-play-btn" style="cursor:pointer; margin:0 5px;font-size: 1.2rem;"></i>');

            docIcon.attr('title', '文档解析').tooltip();
            videoIcon.attr('title', '视频解析').tooltip();

            docIcon.on('click', function () {
                window.open(docLink, '_blank');
            });

            videoIcon.on('click', function () {
                window.open(videoLink, '_blank');
            });

            cell.append(docIcon).append(videoIcon);
            return cell;
        }

        function createStatusCell(status) {
            var text = status ? '通过' : '未通过'
            var cell;
            var element;
            if (status) {
                element = $('<span>').text(text).addClass('badge bg-success');

            } else {
                element = $('<span>').text(text).addClass('badge bg-warning  text-dark');

            }

            element.attr({
                'data-bs-toggle': 'tooltip',
                'data-bs-html': 'true',
                'title': text
            });

            cell = $('<td>').append(element);
            return cell;
        }

        // 函数：渲染表格内容
        function renderTable(page) {
            $('#data-body-fixed').empty();
            $('#data-body-scroll').empty();

            const start = (page - 1) * itemsPerPage;
            const end = start + itemsPerPage;

            const pageData = data.slice(start, end);

            $.each(pageData, function (index, topic) {
                var row_fixed = $('<tr>');
                var row_scroll = $('<tr>');

                row_fixed.append(createTooltipCell(topic.order_id));
                row_fixed.append(createTooltipCell(topic.title));
                row_fixed.append(createTooltipCell("Go", 'link', topic.response_path, "点击查看题目详情"));

                row_scroll.append(createTooltipCell(topic.difficulty));
                row_scroll.append(createStatusCell(topic.pass_status));
                row_scroll.append(createSolutionCell(topic.solution_txt, topic.solution_video));
                row_scroll.append(createTooltipCell(topic.category));

                {#row_scroll.append(createTooltipCell(topic.des));#}
                {#row_scroll.append(createTooltipCell(topic.goal));#}
                {#row_scroll.append(createTooltipCell(topic.question));#}
                {#row_scroll.append(createTooltipCell(topic.difficulty_score));#}
                {#row_scroll.append(createTooltipCell(topic.points));#}

                $('#data-body-fixed').append(row_fixed);
                $('#data-body-scroll').append(row_scroll);
            });

            // 初始化提示框
            $('[data-bs-toggle="tooltip"]').tooltip();
        }

        // 函数：渲染分页控件
        function renderPagination(totalItems) {
            const totalPages = Math.ceil(totalItems / itemsPerPage);
            $('#pagination').empty();

            for (let i = 1; i <= totalPages; i++) {
                const li = $('<li>').addClass('page-item').addClass(i === currentPage ? 'active' : '');
                const a = $('<a>').addClass('page-link').attr('href', '#').text(i);
                a.on('click', function (e) {
                    e.preventDefault();
                    currentPage = i;
                    renderTable(currentPage);
                    renderPagination(data.length);
                });
                li.append(a);
                $('#pagination').append(li);
            }
        }

        $(document).ready(function () {
            $.ajax({
                url: 'api/topics',
                type: 'GET',
                success: function (response) {
                    data = response;
                    renderTable(currentPage);
                    renderPagination(data.length);
                },
                error: function () {
                    console.error('请求失败');
                }
            });
        });
    </script>

{% endblock %}