{% extends "topics/base.html" %}

{% block content %}
<div class="container">
    <table class="table table-primary table-striped table-hover caption-top">
        <caption>题目列表</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">名称</th>
                <th scope="col">简介</th>
                <th scope="col">目的</th>
                <th scope="col">难度</th>
                <th scope="col">考点</th>
                <th scope="col">解析[文档][视频]</th>
                <th scope="col">考点[切换可见性]</th>
                <th scope="col">发布日期</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>
                    <div class="input-group">
                        <input type="password" value="password2" class="form-control password-field">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary toggle-password" type="button">显示/隐藏</button>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
<script>
    document.querySelectorAll('.toggle-password').forEach(button => {
        button.addEventListener('click', function () {
            const passwordField = this.parentElement.previousElementSibling;
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
            } else {
                passwordField.type = 'password';
            }
        });
    });
</script>

{% endblock %}