*{
  margin: 0;
  padding: 0;
}
body {
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
}
.main{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
.header{
  display: flex;
  justify-content: center;
  font-size:50px;
  background-color:#AB2542;
  padding:20px 10px;
}
::-webkit-scrollbar {
  display: none;
}
.nav{
  display: flex;
  position: absolute;
  top:0;
  left: 0px;
  height:100vh;
  overflow-y: auto;
  border: 1px solid #ccc;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: 0.8s cubic-bezier(1, -2.02, 0.38, 2.05);
}
p{
  text-indent: 20px;
}
.nav .btn{
  cursor: pointer;
  padding:8px 10px;
  transition: all ease 0.5s;
  border: #6768A7 solid 1px;
  background-color:#F3DD69;
}
.nav .btn:hover{
  background-color:#6768A7;
  transform: scale(1.1);
}
.content{
  width: 50vw;
}
.view{
  width: 80vw;
}
.panel{
  display: flex;
  position: absolute;
  top:10vh;
  right: 0px;
  width: 200px;
  border: 1px solid #ccc;
  z-index: 9;
  display: flex;
  flex-direction: column;
  background-color: white;
}