{% extends "topics/base.html" %}
{#{% block charset %}<meta charset="GB2312"> {% endblock %}#}
{#{% block charset %}<meta charset="ISO-8859-1"> {% endblock %}#}
{#{% block charset %}<meta charset="UTF-8"> {% endblock %}#}
{% block title %}
网页编码
{% endblock %}
{% block question %}
<h1>您好🦆, 爬虫er~👋</h1>
    <h3>
    尝试用requests请求这个页面，查看结果是否有什么不一样呢？<br>
    尝试解决它！【可以看教程的奥】<br>
    请回答：【解决了】
    </h3>
{% endblock %}

{% block content %}
   <p>有的网页编码是gbk，有的是utf-8，也有的是一些变种比如ISO-8859-1等等。当你的解码方法与网页的编码方法不同的时候，就会产生乱码。所以，如何判断知道网页的编码呢？</p>
{% endblock %}
