<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="icon" type="image/x-icon" href="../static/imgs/favicon.png" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css"/>
</head>
<body>
<div class="panel">
</div>
<div class="nav">
    <div class="btn_list">
    </div>
</div>
<div class="main">
    <div class="header"></div>
    <div class="content">
        <div class="view">
        </div>
    </div>
</div>
</body>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/data.js"></script>
<script src="../static/js/index.js"></script>
</html>